<ion-header>
  <ion-toolbar>
    <ion-title>
      Gift Shop
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar
      debounce="800"
      #searchInput
      mode="ios"
      placeholder="Search for gifts..."
      (ionInput)="onSearchChange($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    @for(item of items; track i; let i = $index) {
      <ion-col sizeLg="3" sizeMd="4" sizeSm="6" sizeXl="3" sizeXs="6">
        <ion-card [routerLink]="['/', 'home', 'gifts', item?.id]">
          <ion-thumbnail>
            <ion-img [src]="item?.cover"></ion-img>
          </ion-thumbnail>

          <ion-label>
            <ion-text color="dark"><strong>{{item?.name}}</strong></ion-text>
            <p>
              <ion-text color="dark">
                ₹<strong>{{item?.price}}</strong>
              </ion-text>

              <ion-text class="rating" color="dark">
                {{item?.rating}}
                <ion-icon name="star" color="warning"></ion-icon>
              </ion-text>
            </p>
          </ion-label>
        </ion-card>
      </ion-col>
    }
  </ion-row>

</ion-content>
